*
{
    margin: 0;
    padding: 0;
}
header
{
    width: 100%;
}
.body-base
{
    position: relative;
    width: 100%;
    height: 800px;

}
.body-base img
{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.nav-izq
{
    width: 70%;
    height: auto;
}
.nav-der
{
    width: 30%;
    height: auto;
}
.nav-der button
{
    float: right;
}
.logo
{
    width: 100%;
    height: 60px;
    display: inline-block;
}
.logo img
{
    width: 140px;
    height: 70px;
    object-fit: cover;
    position: relative;
    top: -10px;
    z-index: auto;
}

nav .collapse
{
    font-family: 'Orelega One', cursive;
    padding-left: 10px;
}
/*estilos section*/
section
{
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: auto;
}
.titulo
{
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: left;
}
.text-des
{
    width: 100%;
    text-align: center;
}
.d-izq
{
    display: inline-block;
    width: 100%;
    padding:30px;
    height:400px;
    color: white;
    text-align: left;
    font-size: 1.2em;
    background:white;
    color: black;
    filter: opacity(90%);
}
.d-izq p
{
    color: black;
    filter: opacity(100%);
}
.funciones
{
    width: 100%;
    height: auto;
    text-align: center;
}
.f-center
{
    width: 80%;
    height: 100%;
    display: inline-block;
    padding-top: 20px;
}
.f-detalle
{
    width: 90%;
    height: auto;
    display: inline-block;
    margin-bottom: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
}
.d-logo
{
    width: 100%;
    height: 80px;

}
.dl-icono
{
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    background: #00ACFF;
}
.dl-icono i
{
    font-size: 3em;
    position: relative;
    top: 16px;
}
.d-texto
{
    width: 100%;
    padding: 10px;
    text-align: justify;
}
/*estilos del footer*/
footer
{
    font-family: 'Oswald', sans-serif;
    position:relative;
    width: 100%;
    height: 200px;
    text-align: center;
}
.foo-center
{
    padding: 20px;
    display: inline-block;
    width: 90%;
    color: white;

}
.redes-s
{
    width: 100%;
    height: 60px;
}
.rs-caja
{
    display: inline-block;
    padding: 20px;
}
/*estilos login*/
.log-center
{
    width: 100%;
    height:120px;
}
/*estilos ajuste section */
@media (min-width:500px)
{
    .logo
    {
        
        width: 10%;
    }
    .d-izq
    {
        width: 60%;
        font-size: 1.3em;
        background:none;
        text-align: justify;
        float: left;
    }
    .d-izq p
    {
        color:white;
    }
}
@media (min-width:750px)
{

    .d-izq
    {
        font-size: 1.4em;
    }
}
/*estilos escritorio*/
@media (min-width:992px)
{
    header
    {
        padding-top: 20px;
    }
    .d-izq
    {
        padding-top: 50px;
        width: 50%;
        font-size: 2.2em;
        color: black;
        float: left;
    }
    .titulo
    {
        background:white;
        color: black;
        text-align: center;
        filter: opacity(70%);
    }
    .navbar-collapse
    {
        width: 200%;
    }
    .navbar-collapse ul
    {
        width: 100%;
        text-align: center;
    } 
    .navbar-collapse li
    {
        width:25%;
        padding: 10px;
        color: black;
    }
    .sec-center
    {
        width: 100%;
        text-align: center;
    }
    .funciones
    {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
        top: 60px;
        padding: 0;
    }
    .f-center
    {
        padding-top: 0;
        width: 100%;
        height: 300px;
    }
    .f-detalle
    {
        display: inline-block;
        width: 300px;
        height: 300px;
        margin-bottom: 0;
    }
}