h2 svg , .bt-sv svg
{
    width:30px;
    height:30px;
    margin-right: 5px;
}

.nav-izq
{
    width: 40%;
    height: auto;
}
.nav-der
{
    width: 58%;
    height: auto;
    text-align: center;
}
.perfil 
{
   text-align: right;
   padding-right: 10px;
}
.form-sesion
{
    text-align:center;
}
.menu-per
{
    width: 150px;
    height: 160px;
    position: relative;
    top: 30px;
    left: -90px;
    display: none;
    border-bottom: solid;
    background: #EAEAEA;
    text-align: center;
}
.menu-per li 
{
    display: inline-block;
    width: 100%;
    height: 45px;
    list-style: none;
    color: black;
    padding: 10px;
    margin-top: 5px;
}
.menu-per li:hover
{
    background: white;
}
#perfi
{
    text-decoration: none;
    color: black;
}
.logo
{
    width: 50px;
    height: 50px;
    display: inline-block;
}
.logo a
{
    width: 100%;
    height: 100%;
}
.logo img
{
    width: 140px;
    height: 70px;
    object-fit: cover;
    position: relative;
    top: -10px;
    z-index: auto;
}
.logo-txt
{
    display: inline-block;
    width: 60%;
    height: auto;
    position: relative;
    font-family: 'Orelega One', cursive;
}
/*estilos section*/
.sec-central
{
    width: 100%;
    height: auto;
}
.menu-left
{
    width:100%;
    height:auto;
    text-align: center;
}
.cont-rigth
{
    width: 100%;
    height: auto;
    text-align: center;
}
.m-opcion
{
    width: 48%;
    height: 50px;
    display: inline-block;
    padding: 10px;
}
#op-a
{
    text-decoration: none;
    color: white;
}
.form-prod
{

    display: inline-block;
    width: 80%;
}
.tabla-prod
{
    width:100%;
}
/*estilos home producto*/
.prod
{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    text-align: justify;
}
.prod-uni
{
    width: 49%;
    height: auto;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
}
.prod_uni svg
{
    display: inline-block;
    position: relative;
    top: 50px;
}
.pb-re
{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}
.op-disa
{
    display:none;
}
/*estilos section bienvenida*/
.men-bi
{
    display: inline-block;
    background: #00ACFF;
    position: relative;
    width: 100%;
    top: 50px;
    padding: 20px;
}
/*estilos escritorio*/

@media (min-width:500px) 
{
    .logo
    {
        width: 60px;
    }
    .d-izq
    {
        width: 45%;
        font-size: 1.3em;
    }
    .nav-der
    {
        width: 42%;
        float:right;
        text-align: right;
    }
    .perfil
    {
       width:90%;
       display: inline-block;
       text-align:right;
    }
    /*estilos section*/
    .op-disa
    {
        display: table-cell;
    }
}
@media (min-width:700px) 
{


    .nav-der
    {
        width: 30%;
        text-align:center;
    }
    .perfil
    {
       width:80%;
       display: inline-block;
       text-align:right;
    }
    .menu-per
    {

        left: -90px;

    }
    .m-opcion
    {
        width: 23%;
    }
}
/*estilos escritorio*/
@media (min-width:992px)
{

    .d-izq
    {
        padding-top: 50px;
        width: 50%;
        font-size: 2.2em;
        color: black;
        float: left;
    }
    .nav-der
    {
        width: 60%;
        padding-right: 20px;
        text-align:right;
    }
    .perfil
    {
        width: 30%;
    }

}